{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../static/img/cover1.jpg')" height = 200>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro-message">
                    <h1>About PokéAttractor</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="container-fluid bg-body text-left">
        
        <div class='row'>
            <div class='col-sm-4 col-md-4'>
                <div class='features' style="height: 480px;">               
                <div class='text-center' style="padding-bottom: 20px;"><img src='../static/img/data-icon.png' height=100/></div>
                <ul>
                    <li>Get more than 293,000 historic Pokémon sighting data from <a href="https://www.kaggle.com/semioniy/predictemall">Kaggle</a></li>
                    <li>Web scrapped more than 275,000 Pokémon tweets from <a href="https://twitter.com">Twitter</a></li>
                    <li>Data were collected from July, 2016 to January, 2017</li>
                    <li>Stored in SQL database</li>
                </ul>
                </div>
            </div>
            <div class='col-sm-4 col-md-4'>
                <div class='features' style="height: 480px;">               
                <div class='text-center' style="padding-bottom: 20px;"><img src='../static/img/icon-intelligent-recommendations.png' height=100/></div>
                <ul>
                    <li>Data cleaning and exploration in Python Pandas</li> 
                    <li>kNN modeling and k-means clustering in Scikit-Learn</li>
                    <li>Natural language processing in NLTK</li>
                    <li>Time series analysis in Scipy</li>
                    <li>Geocoding in Google map API</li>
                </ul>
                </div>
            </div>
            <div class='col-sm-4 col-md-4'>
                <div class='features' style="height: 480px;">               
                <div class='text-center' style="padding-bottom: 20px;"><img src='../static/img/web-icon.png' height=100/></div>
                <ul>
                    <li>Exploratory plots in Matplotlib, Seaborn</li> 
                    <li>Interactive plots in Javascript D3, Folium, Bokeh</li>
                    <li>Web app with Bootstrap, CSS, Flask and Heroku</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}