{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="background-image: url('../static/img/intro-bg.jpg')">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>PokéAttractor</h1>
                        <h3>A Bi-functional Web App to</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/predict" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Catch Pokémon</span></a>
                            </li>
                            <li>
                                <a href="/tweet" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Attract Fans</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Biggest Mobile Game <br>in the US History</h2>
                    <p class="lead" align="left"><a target="_blank" href="http://www.pokemongo.com/">Pokémon GO</a> is officially the biggest mobile game in the US history.  Not only millions of Pokémon trainers are journeying around daily to catch them all, local businesses are capitalizing on this massive opportunity, driving huge amounts of foot traffic and conversions.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" width="400" src="../static/img/cover5.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get Up, Get Out<br>Gotta Catch'Em All</h2>
                    <p class="lead" align="left">To help millions of Pokémon trainers to plan their journey ahead, <a target="_blank" href="/predict">a new web application</a> is developed to predict the appearence of up to ten most possible Pokémons at given location and time. The predictor is trained from over 293,000 historic Pokémon sightings using k-Nearest Neighbor algorithm.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" width="400" src="../static/img/intro-catch.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Attract Fans<br>Boost Your Business</h2>
                    <p class="lead" align="left">Need some inspiration for how your business can take advantage of Pokémon GO? I scraped >275,000 tweets in July, 2016 and January, 2017 to trace when and where do people play and what are their responses to the game. A comprehensive <a target="_blank" href="/tweet">Twitter social media analysis</a> provide business owner some useful insights to attact their potential customers.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" width="300" src="../static/img/intro-bussiness.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner" id="contact">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h3 align="left">Connect to Yina Gu:</h3>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                         <li>
                            <a href="https://www.linkedin.com/in/yina-gu-38410356" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/yinagu" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->

    <!-- /.banner -->
 {% endblock %}
