{% extends "base.html" %}
{% block title %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}


<div class="container">
    <div class="col-md-12">
    	<hr class="section-heading-spacer">
        <div class="clearfix"></div>
		<h2 class="section-heading" align="center">Predict the appearence of Pokémon</h1>
			<div class=metanav>
				<p class="lead"> Please enter the following information:</p>
					 <br>
					 <form id='params' method='post' action='result' >
						 <p>
							 Where (location): <input type='text' name='address' value='350 5th Ave, New York, NY 10118'/>
						 </p>
						 <p>
							 When (time of a day): <input type='text' name='time' value='5 PM' />
						 </p>
						 <p>
							 <input type='submit' value='Submit' />
						 </p>
					 </form>
		 	</div>
 
<div class="container">
    <div class="col-md-12">
    	<hr class="section-headingspacer" align="center">
        <div class="clearfix"></div>
        <h2 class="section-heading" align="center">Pokémon Sightings Map in NYC</h2>
      	<p class="lead"> The map below gives the historic sightings of Pokémon in NYC. To learn more about the data, check out <a href="/about">about</a>.</p>
      	<p><iframe style="border: 1px solid #ccc" width="100%" height="400" src="{{url_for('static', filename='pokemap_NYC.html')}}"></iframe></p>
    </div>
</div> 	


 {% endblock %}